<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>flaskの動作確認</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <p>自己紹介ページを作りましょう</p>

    <p>自己紹介のコンテンツ（内容）は別ページとして「好きなもの」
    「嫌いなもの」「出身地」「フォトグラフィー（写真）」の４つを入れること</p>
    <a href="link1">リンクへ移動</a><br>
    <a href="link2">リダイレクト</a>
    <ul style='color: {{color}};'>
        <li>データベースの設計を行う</li>
        <li>ホームページ（Webアプリケーション）の作成方法は表示部分（画面）だけ先に作成して
        動きのない紙芝居を作る</li>
        <li>HTMLとCSSで画面を整える</li>
        <li>画面遷移が出来たらデータアクセスや主な処理内容を記述する</li>
    </ul>

</body>

</html>